
// color
$primary:#AA0601;
$primary-light:#FBF2F2;
$primary-dark:#650300;


$white:#fff;

$gray-100:#DEDEDE;
$gray-200:#D6D6D6;
$gray-300:#707070;
$gray-400:#495057;
$gray-500:#373A3C;
$gray-600:#212529;
$gray-900:#111619;

$black:#000;


//font-size
$font-size-base:1rem;//16px

$h1-font-size:$font-size-base*4;//64px
$h2-font-size:$font-size-base*3;//48px
$h3-font-size:$font-size-base*2.25;//36px
$h4-font-size:$font-size-base*1.5;//24px
$h5-font-size:$font-size-base*1.25;//20px




//font-weight
$bold-font-weight: bold;
$italic-font-weight:italic;



